.DS_Store

*.pbxproj binary merge=union
*.mode1
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspective
*.perspectivev3
!default.perspectivev3
*.pbxuser
!default.pbxuser
*.xcworkspace
xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

build/
DerivedData
*.o
*.LinkFileList
*.hmap

*~.nib/
*.swp
*~
*.dat
*.dep

*.hmap
*.ipa